<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1090526231887-lgecf69e228gt4vt6ekcif785cuclu78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090526231887-lgecf69e228gt4vt6ekcif785cuclu78</string>
	<key>API_KEY</key>
	<string>AIzaSyBvd_TFGsPswFEBbsnOV00N88cocUvc6XI</string>
	<key>GCM_SENDER_ID</key>
	<string>1090526231887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.BagHarv</string>
	<key>PROJECT_ID</key>
	<string>bagharv</string>
	<key>STORAGE_BUCKET</key>
	<string>bagharv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090526231887:ios:6587f8c38993f2e6</string>
	<key>DATABASE_URL</key>
	<string>https://bagharv.firebaseio.com</string>
</dict>
</plist>